body {
	height: 100vh;
}

circle {
	fill: #337ab7;
	stroke: #333;
	stroke-width: 1.5px;
}

text {
	font: 10px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.margin-top {
	margin-top: 40px;
}

.container {
	max-width: 600px;
}

.result-panel {
	display: none;
}

.result-panel.active {
	display: block;
}

span.glyphicon.count-icon {
	font-size: 32px; 
	color: green;
}

.link {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

.progress {
	height: 34px;
	margin-bottom: 0px;
}

.list-group-item a {
	margin-left: 10px;
	margin-right: 10px;
}

div.search-result-bar div.progress {
	display: none;
}

div.search-result-bar div.btn-group {
	display: block;
}

div.search-result-bar.progress-mode div.progress {
	display: block;
}

div.search-result-bar.progress-mode div.btn-group {
	display: none;
}

.glyphicon-refresh {
  	animation-name: rotate360;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}

@keyframes rotate360 {
  	from {
  		transform: rotate(0deg);
  	}
  	to {
  		transform: rotate(360deg);
  	}
}